{% load static %}
<html lang="en">
<head>
    {% include "projects/partials/_head.html" %}
</head>
<body>
<!-- header section starts -->
{% include "projectdetails/partials/_header.html" %}
<!-- header section starts -->

<!-- header section starts -->
{% include "projectdetails/partials/_details.html" %}
<!-- header section starts -->


<!-- Footer section starts -->
{% include "projects/partials/_footer.html" %}
<!-- Footer section starts -->

<script src="{% static "projects/js/details.js" %}"></script>
</body>
</html>