{% load static %}
<section class="logo-container" id="mini-projects">
    <h1 class="heading">Mini Proje Görselleri</h1>
    <div class="swiper logo-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide"><img src="{% static "construction/img/constructors/construct-rbg1.png" %} " alt=""></div>
            <div class="swiper-slide slide"><img src="{% static "construction/img/constructors/construct-rbg2.png" %}" alt=""></div>
            <div class="swiper-slide slide"><img src="{% static "construction/img/constructors/construct-rbg3.png" %}" alt=""></div>
            <div class="swiper-slide slide"><img src="{% static "construction/img/constructors/construct-rbg5.png" %}" alt=""></div>
            <div class="swiper-slide slide"><img src="{% static "construction/img/constructors/construct-rbg4.png" %}" alt=""></div>
            <div class="swiper-slide slide"><img src="{% static "construction/img/constructors/construct-rbg6.png" %}" alt=""></div>
            <div class="swiper-slide slide"><img src="{% static "construction/img/constructors/construct-rbg7.png" %}" alt=""></div>
        </div>
    </div>

</section>